// fade-right
.fade-right-enter-active {
    transition: all .3s ease;
}

.fade-right-leave-active {
    transition: all .3s ease;
}

.fade-right-enter, 
.fade-right-leave-to {
    @include transform(translateX(-100px));
    opacity: 0;
}

// fade
.fade-enter-active {
    transition: all .8s ease !important;
}

.fade-leave-active {
    transition: all .8s ease !important;
}

.fade-enter, 
.fade-leave-to {
    opacity: 0;
}